In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [ ]:
shop = Shop() # FirtShop (O), first_shop (X), firstShop (X), first_Shop(X)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [ ]:
shop.save()

In [ ]:
shop = Shop.objects.create(
    name = "셀프24시빨래방",
    telephone = "042-1234-4321",
)
shop

# Select

In [4]:
qs = Shop.objects.all()

In [5]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

### Order by (가급적 단일 컬럼으로)

In [ ]:
qs.order_by("-id", "created_at")

## 데이터 뻥튀기

In [9]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:17.492272', '2021-12-01 06:45:17.492272'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:17.492272', '2021-12-01 06:45:17.492272']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:17.508511', '2021-12-01 06:45:17.509509'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:17.508511', '2021-12-01 06:45:17.509509']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:17.517488', '2021-12-01 06:45:17.517488'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:17.517488', '2021-12-01 06:45:17.517488']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:17.528616', '2021-12-01 06:45:17.528616'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:17.528616', '2021-12-01 06:45:17.528616']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:17.538432', '2021-12-01 06:45:17.538432'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:17.538432', '2021-12-01 06:45:17.538432']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:17.549448', '2021-12-01 06:45:17.549448'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:17.549448', '2021-12-01 06:45:17.549448']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:17.559005', '2021-12-01 06:45:17.559005'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:17.559005', '2021-12-01 06:45:17.559005']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:17.569495', '2021-12-01 06:45:17.569495'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:17.569495', '2021-12-01 06:45:17.569495']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:17.581318', '2021-12-01 06:45:17.581318'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:17.581318', '2021-12-01 06:45:17.581318']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:17.590293', '2021-12-01 06:45:17.590293'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:17.590293', '2021-12-01 06:45:17.590293']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:17.601422', '2021-12-01 06:45:17.601422'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:17.601422', '2021-12-01 06:45:17.601422']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:17.613232', '2021-12-01 06:45:17.613232'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:17.613232', '2021-12-01 06:45:17.613232']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:17.623206', '2021-12-01 06:45:17.623206'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:17.623206', '2021-12-01 06:45:17.623206']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:17.634176', '2021-12-01 06:45:17.634176'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:17.634176', '2021-12-01 06:45:17.634176']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:17.645718', '2021-12-01 06:45:17.645718'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:17.645718', '2021-12-01 06:45:17.645718']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:17.655120', '2021-12-01 06:45:17.656118'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:17.655120', '2021-12-01 06:45:17.656118']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:17.666091', '2021-12-01 06:45:17.666091'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:17.666091', '2021-12-01 06:45:17.666091']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:17.676064', '2021-12-01 06:45:17.676064'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:17.676064', '2021-12-01 06:45:17.676064']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:17.687034', '2021-12-01 06:45:17.687034'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:17.687034', '2021-12-01 06:45:17.687034']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:17.699007', '2021-12-01 06:45:17.699007'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:17.699007', '2021-12-01 06:45:17.699007']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:17.707978', '2021-12-01 06:45:17.707978'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:17.707978', '2021-12-01 06:45:17.707978']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:17.719212', '2021-12-01 06:45:17.719212'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:17.719212', '2021-12-01 06:45:17.719212']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:17.729920', '2021-12-01 06:45:17.729920'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:17.729920', '2021-12-01 06:45:17.729920']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:17.738897', '2021-12-01 06:45:17.738897'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:17.738897', '2021-12-01 06:45:17.738897']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:17.749868', '2021-12-01 06:45:17.749868'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:17.749868', '2021-12-01 06:45:17.749868']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:17.762849', '2021-12-01 06:45:17.763328'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:17.762849', '2021-12-01 06:45:17.763328']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:17.771807', '2021-12-01 06:45:17.772871'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:17.771807', '2021-12-01 06:45:17.772871']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:17.783774', '2021-12-01 06:45:17.783774'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:17.783774', '2021-12-01 06:45:17.783774']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:17.794751', '2021-12-01 06:45:17.795753'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:17.794751', '2021-12-01 06:45:17.795753']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:17.804719', '2021-12-01 06:45:17.804719'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:17.804719', '2021-12-01 06:45:17.804719']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:17.816688', '2021-12-01 06:45:17.816688'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:17.816688', '2021-12-01 06:45:17.816688']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:17.825861', '2021-12-01 06:45:17.825861'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:17.825861', '2021-12-01 06:45:17.825861']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:17.836634', '2021-12-01 06:45:17.836634'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:17.836634', '2021-12-01 06:45:17.836634']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:17.847621', '2021-12-01 06:45:17.847621'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:17.847621', '2021-12-01 06:45:17.847621']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:17.857579', '2021-12-01 06:45:17.857579'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:17.857579', '2021-12-01 06:45:17.857579']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:17.869013', '2021-12-01 06:45:17.869013'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:17.869013', '2021-12-01 06:45:17.869013']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:17.880619', '2021-12-01 06:45:17.880619'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:17.880619', '2021-12-01 06:45:17.880619']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:17.889494', '2021-12-01 06:45:17.889494'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:17.889494', '2021-12-01 06:45:17.889494']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:17.899467', '2021-12-01 06:45:17.899467'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:17.899467', '2021-12-01 06:45:17.899467']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:17.908883', '2021-12-01 06:45:17.908883'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:17.908883', '2021-12-01 06:45:17.908883']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:17.918416', '2021-12-01 06:45:17.918416'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:17.918416', '2021-12-01 06:45:17.918416']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:17.929386', '2021-12-01 06:45:17.929386'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:17.929386', '2021-12-01 06:45:17.929386']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:17.938362', '2021-12-01 06:45:17.938362'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:17.938362', '2021-12-01 06:45:17.938362']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:17.948341', '2021-12-01 06:45:17.948341'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:17.948341', '2021-12-01 06:45:17.948341']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:17.959309', '2021-12-01 06:45:17.959309'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:17.959309', '2021-12-01 06:45:17.959309']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:17.970373', '2021-12-01 06:45:17.970373'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:17.970373', '2021-12-01 06:45:17.970373']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:17.980250', '2021-12-01 06:45:17.980250'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:17.980250', '2021-12-01 06:45:17.980250']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:17.990223', '2021-12-01 06:45:17.990223'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:17.990223', '2021-12-01 06:45:17.990223']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:18.000200', '2021-12-01 06:45:18.000200'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:18.000200', '2021-12-01 06:45:18.000200']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:18.010660', '2021-12-01 06:45:18.011170'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:18.010660', '2021-12-01 06:45:18.011170']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:18.021141', '2021-12-01 06:45:18.021141'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:18.021141', '2021-12-01 06:45:18.021141']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:18.032112', '2021-12-01 06:45:18.032112'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:18.032112', '2021-12-01 06:45:18.032112']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:18.041130', '2021-12-01 06:45:18.041130'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:18.041130', '2021-12-01 06:45:18.041130']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:18.051062', '2021-12-01 06:45:18.051062'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:18.051062', '2021-12-01 06:45:18.051062']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:18.060075', '2021-12-01 06:45:18.060779'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:18.060075', '2021-12-01 06:45:18.060779']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:18.070010', '2021-12-01 06:45:18.070010'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:18.070010', '2021-12-01 06:45:18.070010']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:18.080981', '2021-12-01 06:45:18.080981'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:18.080981', '2021-12-01 06:45:18.080981']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:18.089956', '2021-12-01 06:45:18.089956'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:18.089956', '2021-12-01 06:45:18.089956']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:18.101301', '2021-12-01 06:45:18.101301'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:18.101301', '2021-12-01 06:45:18.101301']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:18.111899', '2021-12-01 06:45:18.111899'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:18.111899', '2021-12-01 06:45:18.111899']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:18.120874', '2021-12-01 06:45:18.121872'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:18.120874', '2021-12-01 06:45:18.121872']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:18.131041', '2021-12-01 06:45:18.131041'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:18.131041', '2021-12-01 06:45:18.131041']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:18.140821', '2021-12-01 06:45:18.140821'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:18.140821', '2021-12-01 06:45:18.140821']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:18.150794', '2021-12-01 06:45:18.150794'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:18.150794', '2021-12-01 06:45:18.150794']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:18.160766', '2021-12-01 06:45:18.160766'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:18.160766', '2021-12-01 06:45:18.160766']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:18.169744', '2021-12-01 06:45:18.169744'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:18.169744', '2021-12-01 06:45:18.169744']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:18.179720', '2021-12-01 06:45:18.179720'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:18.179720', '2021-12-01 06:45:18.179720']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:18.188735', '2021-12-01 06:45:18.188735'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:18.188735', '2021-12-01 06:45:18.188735']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:18.198748', '2021-12-01 06:45:18.198748'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:18.198748', '2021-12-01 06:45:18.198748']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:18.209071', '2021-12-01 06:45:18.209071'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:18.209071', '2021-12-01 06:45:18.209071']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:18.217617', '2021-12-01 06:45:18.217617'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:18.217617', '2021-12-01 06:45:18.217617']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:18.227591', '2021-12-01 06:45:18.227591'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:18.227591', '2021-12-01 06:45:18.227591']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:18.236564', '2021-12-01 06:45:18.236564'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:18.236564', '2021-12-01 06:45:18.236564']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:18.247539', '2021-12-01 06:45:18.247539'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:18.247539', '2021-12-01 06:45:18.247539']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:18.258563', '2021-12-01 06:45:18.258563'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:18.258563', '2021-12-01 06:45:18.258563']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:18.269477', '2021-12-01 06:45:18.269477'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:18.269477', '2021-12-01 06:45:18.269477']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:18.282443', '2021-12-01 06:45:18.282443'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:18.282443', '2021-12-01 06:45:18.282443']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:18.294413', '2021-12-01 06:45:18.294413'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:18.294413', '2021-12-01 06:45:18.294413']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:18.305380', '2021-12-01 06:45:18.305380'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:18.305380', '2021-12-01 06:45:18.305380']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:18.318347', '2021-12-01 06:45:18.318347'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:18.318347', '2021-12-01 06:45:18.318347']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:18.331316', '2021-12-01 06:45:18.331316'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:18.331316', '2021-12-01 06:45:18.331316']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:18.342281', '2021-12-01 06:45:18.342281'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:18.342281', '2021-12-01 06:45:18.342281']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:18.354252', '2021-12-01 06:45:18.354252'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:18.354252', '2021-12-01 06:45:18.354252']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:18.366219', '2021-12-01 06:45:18.367216'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:18.366219', '2021-12-01 06:45:18.367216']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:18.379187', '2021-12-01 06:45:18.379187'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:18.379187', '2021-12-01 06:45:18.379187']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:18.390215', '2021-12-01 06:45:18.390215'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:18.390215', '2021-12-01 06:45:18.390215']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:18.404173', '2021-12-01 06:45:18.404173'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:18.404173', '2021-12-01 06:45:18.404173']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:18.417669', '2021-12-01 06:45:18.417669'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:18.417669', '2021-12-01 06:45:18.417669']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:18.430048', '2021-12-01 06:45:18.430048'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:18.430048', '2021-12-01 06:45:18.430048']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:18.443014', '2021-12-01 06:45:18.443014'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:18.443014', '2021-12-01 06:45:18.443014']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:18.457021', '2021-12-01 06:45:18.457021'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:18.457021', '2021-12-01 06:45:18.457021']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:18.469993', '2021-12-01 06:45:18.469993'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:18.469993', '2021-12-01 06:45:18.469993']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:18.480911', '2021-12-01 06:45:18.480911'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:18.480911', '2021-12-01 06:45:18.480911']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:18.493877', '2021-12-01 06:45:18.493877'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:18.493877', '2021-12-01 06:45:18.493877']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:18.505893', '2021-12-01 06:45:18.505893'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:18.505893', '2021-12-01 06:45:18.505893']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:18.518810', '2021-12-01 06:45:18.518810'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:18.518810', '2021-12-01 06:45:18.518810']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:18.532778', '2021-12-01 06:45:18.532778'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:18.532778', '2021-12-01 06:45:18.532778']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:18.545783', '2021-12-01 06:45:18.545783'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:18.545783', '2021-12-01 06:45:18.545783']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:18.559702', '2021-12-01 06:45:18.559702'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:18.559702', '2021-12-01 06:45:18.559702']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:18.571668', '2021-12-01 06:45:18.572666'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:18.571668', '2021-12-01 06:45:18.572666']

## Slicing

In [10]:
qs = Shop.objects.all()

In [11]:
qs[:10] # first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>]>

In [12]:
qs[0:10:2] # step은 파이썬 기능 -> 데이터베이스에서는 10개 가져오고 반환만 건너뛰면서

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>]

In [13]:
qs[-10:] # last 10 rows => Not supported in DB(파이썬 문법 -> DB 지원 X)

AssertionError: Negative indexing is not supported.

In [15]:
for shop in reversed(qs.order_by("id")[:10]): # last 10 rows
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가게명#8 042-1234-9008
11 가게명#7 042-1234-9007
10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

## Conditions

In [16]:
qs = Shop.objects.all()

In [17]:
# filter <-> exclude
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [18]:
qs.exclude(pk=1)

(0.015) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [20]:
# 정수형 필드에 적용
# lt : less than            <
# lte : less than equal     <=
# gt : greater than         >
# gte : greater than equal  >=

qs.filter(
    pk__gte=5, # greater than equal
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [21]:
qs.filter(pk__gte=5).filter(pk__lt=10) # => 원본 qs 변화 X -> chaining

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [26]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [27]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [28]:
# QuerySet is Lazy. -> 데이터가 필요한 시점에 데이터에 접근 한다. (출력 / 루프 / ...) ( 만드는 동안 접근 X )

In [29]:
qs = Shop.objects.all() # 표현식 자체는 값이 없어서 output이 없다

In [30]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [32]:
# qs = Shop.objects.all()
# shop_list = list(qs) -> 리스트화 하지 말자!

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [39]:
pk = 10
not_existed_pk = 100000

In [35]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대, 1개가 아니면 예외가 발생.
shop

(0.015) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [40]:
Shop.objects.get(pk=not_existed_pk) # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [38]:
Shop.objects.filter(pk=pk)[0] # 여러개임을 가정 -> 쿼리 셋 반환
shop

In [41]:
Shop.objects.filter(pk=not_existed_pk)[0] # IndexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [42]:
Shop.objects.filter(pk=not_existed_pk).first() # first (<-> last): 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditinos (OR)

In [43]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND 조건

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [44]:
from django.db.models import Q

In [45]:
Q(pk__gte=5)

In [46]:
Q(pk__lt=10)

In [47]:
Q(pk__gte=5) & Q(pk__lt=10)

In [48]:
Q(pk__gte=5) | Q(pk__lt=10)

In [49]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [50]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row를 수정

In [51]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [52]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [53]:
shop.telephone = '042-1234-0000'

In [55]:
shop.save()

(0.016) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '', "telephone" = '042-1234-0000', "photo" = '', "created_at" = '2021-12-01 06:45:17.549448', "updated_at" = '2021-12-01 07:38:40.600415' WHERE "mall_shop"."id" = 10; args=('가게명#6', '', '042-1234-0000', '', '2021-12-01 06:45:17.549448', '2021-12-01 07:38:40.600415', 10)

## 지정 범위의 Rows 수정

In [56]:
# 수행 되는 쿼리 1개 -> 더 효율적
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.016) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [57]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save() # 되도록이면 루프문 안에서 하지 말고 쿼리 셋을 통해서

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-0000', "photo" = '', "created_at" = '2021-12-01 06:45:17.549448', "updated_at" = '2021-12-01 07:42:02.583861' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used description', '042-1234-0000', '', '2021-12-01 06:45:17.549448', '2021-12-01 07:42:02.583861', 10)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:17.538432', "updated_at" = '2021-12-01 07:42:02.596524' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 06:45:17.538432', '2021-12-01 07:42:02.596524', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:17.528616', "updated_at" = '2021-12-01 07:42:02.603505' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 06:45:17.528616', '2021-12-01 07:42:02.603505', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:17.517488', "updated_at" = '2021-12-01 07:42:02.612481' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:17.517488', '2021-12-01 07:42:02.612481', 7)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:17.508511', "updated_at" = '2021-12-01 07:42:02.621457' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:17.508511', '2021-12-01 07:42:02.621457', 6)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:17.492272', "updated_at" = '2021-12-01 07:42:02.629662' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:17.492272', '2021-12-01 07:42:02.629662', 5)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:10:52.730098', "updated_at" = '2021-12-01 07:42:02.638413' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:10:52.730098', '2021-12-01 07:42:02.638413', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:10:51.694055', "updated_at" = '2021-12-01 07:42:02.648441' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:10:51.694055', '2021-12-01 07:42:02.648441', 3)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()